@font-face {
	font-family: bukhari-alternates;
	src: url(bukhari-font/BukhariScriptAlternates.ttf) format('truetype'); /* Safari, Android, iOS */
	font-stretch:condensed;
}

@font-face {
	font-family: bukhari;
	src: url(bukhari-font/Bukhari.ttf)  format('truetype'); /* Safari, Android, iOS */
	font-stretch:expanded;
}

@font-face {
	font-family: archive;
	src: url(archive-font/Archive.otf); /* Safari, Android, iOS */
}


h1{
	font-family: archive;
	font-size: 3em;
	font-weight:300;
}
h3{
	font-family: archive;
	font-size: 1.5em;
	font-weight:100;
	font-stretch:ultra-expanded;
}

p{
	font-family: archive;
}


.fullscreen h1{
	font-size: 3.8em;
}

.fullscreen h3{
	font-size: 1.6em;
	font-weight:500;
}

.fullscreen p{
	font-size:1.1em;
	font-weight:100;
}