.page-1 .img{
	width:40%;
}
.page-1 .text{
	width:60%;
}
.page-1 .headline{
	width:100%;
}


/* Small devices (small tablets, 480px and up) */
@media (min-width: 480px ) {
	.box-md{
		width:450px;
		height:250px;
		position:relative;
		left:calc( (100% - 450px) / 2);
		top:calc( (100% - 250px) / 2);
	}
}
/* Small devices (small tablets, 650px and up) */
@media (min-width: 650px ) {
	.box-md{
		width:625px;
		height:325px;
		left:calc( (100% - 625px) / 2);
		top:calc( (100% - 325px) / 2);
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) {
	.box-md{
		width:750px;
		height:375px;
		left:calc( (100% - 750px) / 2);
		top:calc( (100% - 375px) / 2);
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.box-md{
		width:992px;
		height:460px;
		top:calc( (100% - 460px) / 2);
		left:calc( (100% - 992px) / 2);
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.box-md{
	 	width:1200px;
	 	left:calc( (100% - 1200px) / 2);
		height:560px;
		top:calc( (100% - 560px) / 2);
	}
}

