.box-md{
	width:320px;
	height:480px;
	position:relative;
	left:calc( (100% - 320px) / 2);
	top:calc( (100% - 480px) / 2);
	padding:10px;
}
.page-1 .img{
	width:70%;
	position:relative;
	left:15%;
	order:1;
}
.page-1 #headline{
	order:2;
}
.page-1 #headline, .page-1 #text{
	display:block;
	text-align: center;
}
.page-1 #text{
	order:3;
	width: 100%;
}
.page-1 .navbar{
	order:4;
}
/* Large devices (medium desktops, 550px and up) */
@media (min-width: 450px) {
	.box-md{
		width:450px;
		height:650px;
		top:calc( (100% - 650px) / 2);
		left:calc( (100% - 450px) / 2);
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 700px) {
	.box-md{
		width:650px;
		height:450px;
		top:calc( (100% - 450px) / 2);
		left:calc( (100% - 650px) / 2);
	}
	.page-1 .img{
		width:50%;
		position:initial;
		order:3;
	}
	.page-1 #headline{
		text-align: left;
		order:1;
	}
	.page-1 #text{
		text-align: left;
		order:2;
		width: 50%;
	}
}
