/*
 *	Colorpallette from http://httpster.net/website/avondale-type-co/ 
 *
 *	background-image:url("../img/background-image-1-1080.jpeg");
 */
.background{
	/*background-color:#286DA8;*/
	background-image:url("../img/bg-img-2-1080.jpg");
	height:100%;
	width:100%;
	color:#f4f4f2; /*STEEL*/
	position:fixed;
	z-index: -99;
}



.screen-and-steel {
	background-color:#C5C1C0; /*SCREEN*/
	color:#0A1612; /*STEEL*/
}

.denim-and-steel {
	background-color: #1A2930; /*DENIM*/
	/* color: #f4f4f4; PAPER*/
	color: #f4f4f2; /*STEEL*/
}

.marigold {
	background-color: #F7CE3E; /*MARIGOLD*/
	color:#4E5247;
}

.md-height{
	height:300px;
}

.lg-height{
	height:450px;
}

.fullscreen{
	height:100%;
	width:100%;
	margin-bottom:150px;
}
.fullscreen-bg-img{
	margin:0px;
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
}
.fullscreen .container{
	margin-top:180px;
	width:80%;
}

.fullscreen h1{
	margin-top:140px;
}

.fullscreen p, .fullscreen h3{
	margin: 15px 0px 5px 2px;
}

.navbar{
	margin-top:100px;
}

